# Chapter 10 - Miscellaneous Topics II

## Ex 1

In [4]:
lst = list()
for i in range(3,100,3):
    lst.append(i)
print(lst)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

## Ex 2

In [6]:
weight = float(input("Enter weight in kilograms : "))
print('{:.1f} kilograms'.format(weight))

Enter weight in kilograms : 12.34
12.3 kilograms

## Ex 3

In [8]:
a = list('abracadabra')
x = sorted(a)
print(''.join(x))

aaaaabbcdrr

## Ex 4

In [15]:
products = []
prices = []

for i in range(10):
    product = input("Enter the product name : ")
    price = float(input("Enter the product price : "))
    after_discount = price * .89
    products.append(product)
    prices.append(after_discount)
for i in range(10):
    print('{:10s}${:5.2f}'.format(products[i],prices[i]))

Enter the product name : Apple
Enter the product price : 2.12
Enter the product name : Orange
Enter the product price : 1.33
Enter the product name : Mango
Enter the product price : 3.11
Enter the product name : Papaya
Enter the product price : .90
Enter the product name : Kiwi
Enter the product price : 5.29
Enter the product name : Cherries
Enter the product price : 1.19
Enter the product name : Bananas
Enter the product price : .29
Enter the product name : Pineapple
Enter the product price : 1.11
Enter the product name : Pear
Enter the product price : 1.23
Enter the product name : Chiku
Enter the product price : 1.13
Apple     $ 1.89
Orange    $ 1.18
Mango     $ 2.77
Papaya    $ 0.80
Kiwi      $ 4.71
Cherries  $ 1.06
Bananas   $ 0.26
Pineapple $ 0.99
Pear      $ 1.09
Chiku     $ 1.01

## Ex 5

In [20]:
suits = ['Hearts', 'Diamonds', 'Clubs', 'Spades']
values = ['One', 'Two', 'Three', 'Four', 'Five', 'Six', 'Seven',\
          'Eight', 'Nine', 'Ten', 'Jack', 'Queen', 'King', 'Ace']
for i in values:
    for j in suits:
        print("{:6s} of {:6s}".format(i,j))

One    of Hearts
One    of Diamonds
One    of Clubs
One    of Spades
Two    of Hearts
Two    of Diamonds
Two    of Clubs
Two    of Spades
Three  of Hearts
Three  of Diamonds
Three  of Clubs
Three  of Spades
Four   of Hearts
Four   of Diamonds
Four   of Clubs
Four   of Spades
Five   of Hearts
Five   of Diamonds
Five   of Clubs
Five   of Spades
Six    of Hearts
Six    of Diamonds
Six    of Clubs
Six    of Spades
Seven  of Hearts
Seven  of Diamonds
Seven  of Clubs
Seven  of Spades
Eight  of Hearts
Eight  of Diamonds
Eight  of Clubs
Eight  of Spades
Nine   of Hearts
Nine   of Diamonds
Nine   of Clubs
Nine   of Spades
Ten    of Hearts
Ten    of Diamonds
Ten    of Clubs
Ten    of Spades
Jack   of Hearts
Jack   of Diamonds
Jack   of Clubs
Jack   of Spades
Queen  of Hearts
Queen  of Diamonds
Queen  of Clubs
Queen  of Spades
King   of Hearts
King   of Diamonds
King   of Clubs
King   of Spades
Ace    of Hearts
Ace    of Diamonds
Ace    of Clubs
Ace    of Spades

## Ex 6

In [21]:
lst1 = [1,2,3,4,5]
lst2 = [4,5,6,7,8,9]
flag = 0
for i in lst1:
    if i in lst2:
        flag = 1
if flag:
    print("The two lists have atleast one item in common.")
else:
    print("The two lists have no items in common.")

The two lists have atleast one item in common.

## Ex 7

In [38]:
lst = [int('1'*i) for i in range(1,101)]
print(lst)

[1, 11, 111, 1111, 11111, 111111, 1111111, 11111111, 111111111, 1111111111, 11111111111, 111111111111, 1111111111111, 11111111111111, 111111111111111, 1111111111111111, 11111111111111111, 111111111111111111, 1111111111111111111, 11111111111111111111, 111111111111111111111, 1111111111111111111111, 11111111111111111111111, 111111111111111111111111, 1111111111111111111111111, 11111111111111111111111111, 111111111111111111111111111, 1111111111111111111111111111, 11111111111111111111111111111, 111111111111111111111111111111, 1111111111111111111111111111111, 11111111111111111111111111111111, 111111111111111111111111111111111, 1111111111111111111111111111111111, 11111111111111111111111111111111111, 111111111111111111111111111111111111, 1111111111111111111111111111111111111, 11111111111111111111111111111111111111, 111111111111111111111111111111111111111, 1111111111111111111111111111111111111111, 11111111111111111111111111111111111111111, 111111111111111111111111111111111111111111, 1111111111111111111111111111111111111111111, 11111111111111111111111111111111111111111111, 111111111111111111111111111111111111111111111, 1111111111111111111111111111111111111111111111, 11111111111111111111111111111111111111111111111, 111111111111111111111111111111111111111111111111, 1111111111111111111111111111111111111111111111111, 11111111111111111111111111111111111111111111111111, 111111111111111111111111111111111111111111111111111, 1111111111111111111111111111111111111111111111111111, 11111111111111111111111111111111111111111111111111111, 111111111111111111111111111111111111111111111111111111, 1111111111111111111111111111111111111111111111111111111, 11111111111111111111111111111111111111111111111111111111, 111111111111111111111111111111111111111111111111111111111, 1111111111111111111111111111111111111111111111111111111111, 11111111111111111111111111111111111111111111111111111111111, 111111111111111111111111111111111111111111111111111111111111, 1111111111111111111111111111111111111111111111111111111111111, 11111111111111111111111111111111111111111111111111111111111111, 111111111111111111111111111111111111111111111111111111111111111, 1111111111111111111111111111111111111111111111111111111111111111, 11111111111111111111111111111111111111111111111111111111111111111, 111111111111111111111111111111111111111111111111111111111111111111, 1111111111111111111111111111111111111111111111111111111111111111111, 11111111111111111111111111111111111111111111111111111111111111111111, 111111111111111111111111111111111111111111111111111111111111111111111, 1111111111111111111111111111111111111111111111111111111111111111111111, 11111111111111111111111111111111111111111111111111111111111111111111111, 111111111111111111111111111111111111111111111111111111111111111111111111, 1111111111111111111111111111111111111111111111111111111111111111111111111, 11111111111111111111111111111111111111111111111111111111111111111111111111, 111111111111111111111111111111111111111111111111111111111111111111111111111, 1111111111111111111111111111111111111111111111111111111111111111111111111111, 11111111111111111111111111111111111111111111111111111111111111111111111111111, 111111111111111111111111111111111111111111111111111111111111111111111111111111, 1111111111111111111111111111111111111111111111111111111111111111111111111111111, 11111111111111111111111111111111111111111111111111111111111111111111111111111111, 111111111111111111111111111111111111111111111111111111111111111111111111111111111, 1111111111111111111111111111111111111111111111111111111111111111111111111111111111, 11111111111111111111111111111111111111111111111111111111111111111111111111111111111, 111111111111111111111111111111111111111111111111111111111111111111111111111111111111, 1111111111111111111111111111111111111111111111111111111111111111111111111111111111111, 11111111111111111111111111111111111111111111111111111111111111111111111111111111111111, 111111111111111111111111111111111111111111111111111111111111111111111111111111111111111, 1111111111111111111111111111111111111111111111111111111111111111111111111111111111111111, 11111111111111111111111111111111111111111111111111111111111111111111111111111111111111111, 111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111, 1111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111, 11111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111, 111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111, 1111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111, 11111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111, 111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111, 1111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111, 11111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111, 111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111, 1111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111]

## Ex 8

In [41]:
lst = [i for i in range(1,1001) if i%7==0 and i%10==6]
lst

[56, 126, 196, 266, 336, 406, 476, 546, 616, 686, 756, 826, 896, 966]

## Ex 9

In [48]:
sum([1 for i in range(1,10001) if '3' in str(i)])

3439

## Ex 11

In [63]:
lst = [i for i in range(100000,1000000) if i == int(str(i)[::-1])]
for i in range(len(lst)-1):
    if lst[i+1] - lst[i] < 20:
        print('{:7d} and {:7d}'.format(lst[i], lst[i+1]))

 199991 and  200002
 299992 and  300003
 399993 and  400004
 499994 and  500005
 599995 and  600006
 699996 and  700007
 799997 and  800008
 899998 and  900009

## Ex 13

In [65]:
lst = []
for i in range(1,100001):
    prd = 1
    sum1 = 0
    for j in str(i):
        prd *= int(j)
        sum1 += int(j)
    if prd + sum1 == i:
        lst.append(i)
print(lst)

[19, 29, 39, 49, 59, 69, 79, 89, 99]

## Ex14

In [105]:
i = 11
while (3.2 * i) > int(str(i)[1:]+str(i)[0]):
    i +=1
print(i)

15

## Ex 15

In [117]:
i =1000
factorial = 1
while i != 0:
    factorial *= i
    i -=1
count = 0
while factorial%10 ==0:
    factorial = factorial//10
    count +=1
print(count)

249

## Ex 16

In [120]:
height = float(input("Enter the height in feet : "))
feet = int(height)
inches = (height - feet) * 12
print("%g feet, %g inches."%(feet,inches))

Enter the height in feet : 4.75
4 feet, 9 inches.

## Ex 17

In [127]:
height = input("Enter the height in feet'inches\" or -1 to done entering : ")
footer = []
while height !='-1':
    footer.append(height[0])
    height = input("Enter the height in feet'inches\" or -1 to done entering : ")
for i in footer:   
    print("%g-footer"%int(i))

Enter the height in feet'inches" or -1 to done entering : 3'5"
Enter the height in feet'inches" or -1 to done entering : 4'11"
Enter the height in feet'inches" or -1 to done entering : 6'10"
Enter the height in feet'inches" or -1 to done entering : -1
3-footer
4-footer
6-footer

## Ex 18

In [150]:
score = input("Enter the score the format winning score-losing score or -1 to done entering : ")
scores = []
while score !='-1':
    score = score.split('-')
    scores.append(int(score[0]))
    scores.append(int(score[1]))
    score = input("Enter the score the format winning score-losing score or -1 to done entering : ")

highest = 0
lowest = 999
for i in scores:
    if i > highest:
        highest =i
    if i < lowest:
        lowest =i
print("Lowest = %g, Highest = %g"%(lowest,highest))

Enter the score the format winning score-losing score or -1 to done entering : 23-4
Enter the score the format winning score-losing score or -1 to done entering : 12-10
Enter the score the format winning score-losing score or -1 to done entering : -1
Lowest = 4, Highest = 23

## Ex 19

In [166]:
birthday = input("Enter the birthday the format month/day or -1 to done entering : ")
dates = []
while birthday !='-1':
    birthday = birthday.split('/')
    dates.append([birthday[0],birthday[1]])
    birthday = input("Enter the birthday the format month/day or -1 to done entering : ")
m_count = 0
d_count =0
for i in dates:
    if i[1] == '25':
        d_count +=1
    if i[0] == '2' or i[1] == '02':
        m_count +=1
print(m_count, d_count)

Enter the birthday the format month/day or -1 to done entering : 2/25
Enter the birthday the format month/day or -1 to done entering : 3/25
Enter the birthday the format month/day or -1 to done entering : 2/24
Enter the birthday the format month/day or -1 to done entering : 3/26
Enter the birthday the format month/day or -1 to done entering : -1
2 2

## Ex 20

In [174]:
months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
date = input("Enter a date in the format mm/dd/yy : ")
day = int(date[3:5])
month = int(date[0:2])
year = int(date[6:8])
print('%s %g, 19%g.'%(months[month-1],day,year))

Enter a date in the format mm/dd/yy : 11/05/89
November 5, 1989.

## Ex 21

In [179]:
fraction = input("Enter a fraction in the form of a string(Ex: 4/16 ) : ")
fraction = fraction.split('/')
num1 = int(fraction[0])
den1 = int(fraction[1])

num = num1
den = den1
while num != 0:
    rem = den//num
    den = num
    num = rem
print('%g/%g'%(num1//den,den1/den))

Enter a fraction in the form of a string(Ex: 4/16 ) : 6/15
2/5