# Chapter 2 - For Loops

## Ex 1

In [2]:
for i in range(100):
  print("Name")

Name
Name
Name
Name
Name
Name
Name
Name
Name
Name
Name
Name
Name
Name
Name
Name
Name
Name
Name
Name
Name
Name
Name
Name
Name
Name
Name
Name
Name
Name
Name
Name
Name
Name
Name
Name
Name
Name
Name
Name
Name
Name
Name
Name
Name
Name
Name
Name
Name
Name
Name
Name
Name
Name
Name
Name
Name
Name
Name
Name
Name
Name
Name
Name
Name
Name
Name
Name
Name
Name
Name
Name
Name
Name
Name
Name
Name
Name
Name
Name
Name
Name
Name
Name
Name
Name
Name
Name
Name
Name
Name
Name
Name
Name
Name
Name
Name
Name
Name
Name

## Ex 2

In [3]:
for i in range(15):
  print("\n")
  for j in range(25):
    print("Name", end = ' ')

Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name

Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name

Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name

Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name

Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name

Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name

Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name

Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name

Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name

Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name

Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name

Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name

Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name

Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name

Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name Name

## Ex 3

In [4]:
for i in range(1,101):
  print(i, " Your name")

1  Your name
2  Your name
3  Your name
4  Your name
5  Your name
6  Your name
7  Your name
8  Your name
9  Your name
10  Your name
11  Your name
12  Your name
13  Your name
14  Your name
15  Your name
16  Your name
17  Your name
18  Your name
19  Your name
20  Your name
21  Your name
22  Your name
23  Your name
24  Your name
25  Your name
26  Your name
27  Your name
28  Your name
29  Your name
30  Your name
31  Your name
32  Your name
33  Your name
34  Your name
35  Your name
36  Your name
37  Your name
38  Your name
39  Your name
40  Your name
41  Your name
42  Your name
43  Your name
44  Your name
45  Your name
46  Your name
47  Your name
48  Your name
49  Your name
50  Your name
51  Your name
52  Your name
53  Your name
54  Your name
55  Your name
56  Your name
57  Your name
58  Your name
59  Your name
60  Your name
61  Your name
62  Your name
63  Your name
64  Your name
65  Your name
66  Your name
67  Your name
68  Your name
69  Your name
70  Your name
71  Your name
72  Your name
73  Your name
74  Your name
75  Your name
76  Your name
77  Your name
78  Your name
79  Your name
80  Your name
81  Your name
82  Your name
83  Your name
84  Your name
85  Your name
86  Your name
87  Your name
88  Your name
89  Your name
90  Your name
91  Your name
92  Your name
93  Your name
94  Your name
95  Your name
96  Your name
97  Your name
98  Your name
99  Your name
100  Your name

## Ex 4

In [5]:
for i in range(1,21):
  print(i, "---", i**2)

1 --- 1
2 --- 4
3 --- 9
4 --- 16
5 --- 25
6 --- 36
7 --- 49
8 --- 64
9 --- 81
10 --- 100
11 --- 121
12 --- 144
13 --- 169
14 --- 196
15 --- 225
16 --- 256
17 --- 289
18 --- 324
19 --- 361
20 --- 400

## Ex 5

In [6]:
for i in range(8,90,3):
  print(i, end = ',')

8,11,14,17,20,23,26,29,32,35,38,41,44,47,50,53,56,59,62,65,68,71,74,77,80,83,86,89,

## Ex 6

In [7]:
for i in range(100,0,-2):
  print(i, end = ',')

100,98,96,94,92,90,88,86,84,82,80,78,76,74,72,70,68,66,64,62,60,58,56,54,52,50,48,46,44,42,40,38,36,34,32,30,28,26,24,22,20,18,16,14,12,10,8,6,4,2,

## Ex 7

In [8]:
for i in range(10):
  print("A",end='')
for i in range(7):
  print("B", end = '')
for i in range(4):
  print("CD", end = '')
for i in range(6):
  if i == 0:
    print("EF", end = '')
  elif i == 5:
    print("FG", end = '')
  else:
    print("F", end = '')

AAAAAAAAAABBBBBBBCDCDCDCDEFFFFFFG

## Ex 8

In [9]:
number = int(input("How many times to print? :"))
name = input("Enter your name :")

for i in range(number):
  print(name, end = ' ')

How many times to print? :5
Enter your name :Name
Name Name Name Name Name

# Ex 9

In [10]:
number = int(input("How many fibonacci numbers? :"))
fib1 = 1
fib2 = 1
print(fib1)
for i in range(number-1):
  temp = fib2
  fib2 = fib1 + fib2
  fib1 = temp
  print(fib1)

How many fibonacci numbers? :7
1
1
2
3
5
8
13

## Ex 10

In [78]:
height = int(input("What is the height of the box :"))
width = int(input("What is the weidth of the box :"))

for i in range(height):
  print("*" * width)

What is the height of the box :6
What is the weidth of the box :9
*********
*********
*********
*********
*********
*********

## Ex 11

In [77]:
height = int(input("What is the height of the box :"))
width = int(input("What is the weidth of the box :"))
for i in range(height):
    print("\n")
    for j in range(width):
        if i ==0 or i == height-1:
            print("*", end = '')
        elif (i != 0 or i != height-1) and (j == 0 or j == width-1):
            print("*", end = '')
        else:
            print(" ", end = '')

What is the height of the box :6
What is the weidth of the box :10


**********

*        *

*        *

*        *

*        *

**********

## Ex 12

In [71]:
height = int(input("What is the height of the box :"))

for i in range(height):
  print("*" * (i+1))

What is the height of the box :6
*
**
***
****
*****
******

## Ex 13

In [68]:
height = int(input("What is the height of the box :"))

for i in range(height, 0, -1):
  print("*" * (i))

What is the height of the box :6
******
*****
****
***
**
*

## Ex 14

In [79]:
h = int(input("What is the height of the diamond :"))
if h %2==0:
    for i in range(1,(h//2+1)):
        print(" "*(h//2-i+1),"*"*(2*i-1)," "*(h//2-i+1), end ='\n')
    for i in range((h//2),0,-1):
        print(" "*(h//2-i+1),"*"*(2*i-1)," "*(h//2-i+1), end ='\n')
else:
    for i in range(1,(h//2+2)):
        print(" "*(h//2-i+1),"*"*(2*i-1)," "*(h//2-i+1), end ='\n')
    for i in range((h//2),0,-1):
        print(" "*(h//2-i+1),"*"*(2*i-1)," "*(h//2-i+1), end ='\n')

What is the height of the diamond :10
      *
     ***
    *****
   *******
  *********
  *********
   *******
    *****
     ***
      *

## Ex 15

In [122]:
h = int(input("What is the height of the diamond :"))
if h%2 !=0:
    for i in range(1,h+1):
        if i == h//2+1:
            print(" "*(h//2-1), "*"*h," "*(h//2-1))
        elif i == 1:
            print(" "*(h-i),"*"," "*(h-i),sep='')
        else:
            print(" "*(h-i),"*"," "*((i-1)*2-1),"*"," "*(h-i),sep='')
else:
    for i in range(1,h+1):
        if i == h//2+1:
            print(" "*(h//2-2), "*"*(h+1)," "*(h//2-1))
        elif i == 1:
            print(" "*(h-i),"*"," "*(h-i),sep='')
        else:
            print(" "*(h-i),"*"," "*((i-1)*2-1),"*"," "*(h-i),sep='')

What is the height of the diamond :10
         *
        * *
       *   *
      *     *
     *       *
    ***********
   *           *
  *             *
 *               *
*                 *

In [ ]:
6